.ques {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .dropdowns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
    padding: 2rem 8rem;
    
   
  }
  
  .faq-item {
    border-radius: 4px;
   
    cursor: pointer;
    padding: .3rem;
    transition: all 0.3s ease; 
    border: 1px solid black;
    transition: .5s ease-in-out ;
  }


  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    
   
   
    border-radius: 4px;

    transition: background-color 0.3s ease;
  }

  .the-question{
    font-size: .8rem;
    font-weight: 600;
    opacity: .8;
  }
  
  .faq-answer {
   
    border-radius: 6px;
    margin-top: 0.5rem;
    font-size: .8rem;
    color: #333;
    opacity: .8;
  }
  
  .icon {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
  }
  
  .faqs-container{
    margin-bottom: 7rem;
    margin-top: 2rem;
  }