*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Varela';
    src: url(../assets/fonts/Varela-Regular.ttf);
}

body{
    font-family: 'varela', sans-serif;
}

